@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

html, body {
  border: none;
  margin: 0;
}

body, tbody {
  font-family: "Georgia";
  line-height: 1.6;
  color: rgb(48, 48, 48);
}

h1, h2, h3 {
  font-family: "Open Sans";
  font-size:   16px;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
}

a {
  color: #039;
}

a:hover {
  color: #05f;
}

ul {
  margin: auto 10px;
  padding: 0;
}

ul > li {
    margin: auto 10px;
    padding: 0;
}

ol {
  margin: auto 20px;
  padding: 0;
}

ol > li {
  margin: auto 10px;
  padding: 0;
}

* > li:not(:first-child):not(:last-child) {
  margin: 0.5em 10px;
}

blockquote {
  margin: 0;
}

blockquote:before, blockquote:after {
  content: "";
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*HTML 5 reset*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

.disclaimer {
  font-style: italic;
}

.disclaimer:before {
  content: "\00bb";
  font-size: 20px;
}

/*.post*/

.post-date {
  color: rgba(0, 0, 0, 0.8);
}

a.post-title {
  text-decoration: none;
  color: rgb(248, 128, 32);
  font-size: 26px;
}

a.post-title:hover {
}

.post pre {
  padding: 1em;
  border: none;
  border-radius: 4px;
  max-width: 100ch;
  font-family: 'Consolas' , 'Monospaced', 'Courier New';
  font-size: 10pt;
  background-color: #333;
  color: #ccc;
}

.post code {
  font-family: 'Consolas' , 'Monospaced', 'Courier New';
  font-size: 10pt;
}

.post blockquote {
  padding: 1em 2em;
  border-left: solid 7px rgb(248, 128, 32);
  background-color: #333;
  color: rgb(248, 128, 32);
  font-style: normal;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 10pt;
  font-weight: 400;
}

.post blockquote > pre {
  background-color: #444;
  color: #eee;
}

.post blockquote a {
  color: rgba(248, 128, 32, 0.5);
}

.post blockquote a:hover {
  color: #eee;
}

.post-footer {
  margin: 10px auto;
}

.post-footer a {
  color: #999;
  text-decoration: none;
}

.post-footer a:hover {
  color: #05f;
}

@media screen and (min-width: 900px) {

  body {
  }
  
  .page #wrapper {
    margin: 0 auto;
  }
  
  .page #wrapper-main {
    float: left;
    width: 70%;
  }
  
  .page #wrapper-main-inner {
   padding: 0 20px;
  }
  
  .page #wrapper-sidebar {
    float: left;
    width: 30%;
  }
  
  .page #wrapper-sidebar-inner {
    padding-right: 20px;
  }
  
  /*.page-post*/
  
  .page-post #wrapper {
    margin: 0 auto;
  }
  
  .page-post #wrapper-main {
    margin: 0 5%;
  }
  
  .page-post .widget-wrapper {
    margin: 0 5%;
  }

}

@media screen and (max-width: 900px) {

  body {
  }
  
  #wrapper {
    margin: 0 auto;
  }
  
  #wrapper-main {
    margin: 0 5%;
  }
  
  .widget-wrapper {
    margin: 0 5%;
  }

}
