
<h2>This is me</h2>

<img class="img-responsive img-rounded" src="http://en.gravatar.com/avatar/5be12a5a883043ee47443e93217504b6?s=480" alt="John Leidegren" title="John Leidegren" />

<p>
    I do maintain a traditional <a href="https://docs.google.com/document/d/1__BZmpqlL_qmDRy33mTnNQJoyFnstNObz6NX7hShjsI/preview?pli=1">resume</a> but if you're anything like me, you'll want to look at some <a href="https://github.com/leidegre" title="Visit my profile over at GitHub.com">code</a>.
</p>

<p>
    Also, do keep in mind; 
    this is a place where I express my <em>opinions</em> on the <strong>Internet</strong>, those do not necessarily reflect those of my <em>employer</em>.
</p>

<h3>Organizational practices</h3>

<ul>
    <li><a href="http://www.youtube.com/watch?v=2nK2sJqDe8w">Back to First Principles,<br />by Scott Chacon</a></li>
    <li><a href="http://www.gdcvault.com/play/1012346/Concrete-Practices-to-be-a">Concrete Practices to Be a Better Leader</a></li>
    <li><a href="http://www.gdcvault.com/play/1015694/Concrete-Practices-to-Be-a">Concrete Practices to Be a Better Leader:<br />Framing &amp; Intention</a></li>
</ul>

<h3>Something computer sciency</h3>

<ul>
    <li><a href="http://yow.eventer.com/events/1004/talks/1028">Temporally Quaquaversal Virtual Nanomachine</a></li>
</ul>

<h3>Something humanitarian</h3>

<ul>
    <li><a href="http://www.ted.com/index.php/talks/ken_robinson_says_schools_kill_creativity.html">Ken Robinson - Do schools kill creativity?</a></li>
    <li><a href="http://www.ted.com/talks/sir_ken_robinson_bring_on_the_revolution.html">Ken Robinson - Bring on the learning revolution!</a></li>
    <li><a href="http://www.ted.com/talks/jamie_oliver.html">Jamie Oliver's TED Prize wish:<br />Teach every child about food</a></li>
</ul>

<div>

    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/John_Leidegren" data-widget-id="257513351624658946" width="500" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="20">@John_Leidegren</a>

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

</div>
