<!DOCTYPE html>
<html>
<head>
	{% include meta.html %}
	{% include analytics.html %}
</head>
<body>

<script type="text/javascript">
        
    !function(){
        var twitterStyle;
        twitterStyle = function () {
            var el = $('iframe.twitter-timeline')[0];
            if (el) {
                $(el)
                    .contents()
                    .find("head")
                    .append($("<style type='text/css'>html, body, h1, h2, h3, blockquote, p, ol, ul, li, img, iframe, button { font-family: 'Georgia' !important; line-height: 1.5em !important } </style>"))
                ;
            } else {
                setTimeout(twitterStyle, 100);
            }
        }
        setTimeout(twitterStyle, 100);
    }();

</script>


<div class="container">

<div class="row">
<div class="col-md-8">

{% for post in site.posts limit 10 %}

{% include post-template.html page=post content=post.content %}

{% endfor %}

</div>
<div class="col-md-4">

{% include sidebar.html %}

</div>
</div>

</div>

</body>
</html>
