<!DOCTYPE html>
<html>
<head>
	{% include meta.html %}
	{% include analytics.html %}
</head>
<body class="page">

<div id="wrapper">
<div id="wrapper-main">
<div id="wrapper-main-inner">

{% for post in site.posts limit 10 %}

	<h2>
		<span class="post-date">{{ post.date | date: "%e %B %Y" }}</span><br />
 		<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
	</h2>

	<div class="post">
	
	{{ post.content }}

	</div>

{% endfor %}

</div>
</div>
<div id="wrapper-sidebar">
<div id="wrapper-sidebar-inner">

<div class="widget">

    <div class="widget-wrapper">
	
        <h2>This is me</h2>
    
    </div>

    <div style="text-align: center;">
	<img style="width:100%;max-width:486px" src="/content/john.jpg" alt="John Leidegren" title="John Leidegren" />
    </div>

    <div class="widget-wrapper">
	
        <p>
	    Click <a href="/content/resume_jleidegren.pdf">here</a> for a copy of my resume. 
        There's also tonnes of information on this blog and in relation to my profile 
        over at <a href="http://stackoverflow.com/users/58961/john-leidegren">StackOverflow</a> 
        if you wanna find out even more about what I do.
	    </p>
	
	    <p class="disclaimer">
	    Also, please keep in mind; 
	    the opinions expressed here are my own, not necessarily those of my employer.
	    </p>

    </div>

</div>

<div class="widget">
    
    <div class="widget-wrapper">

    <h3>Something computer sciency</h3>

    <ul class="widget-links">
        <li><a href="http://yow.eventer.com/events/1004/talks/1028">Temporally Quaquaversal Virtual Nanomachine</a></li>
    </ul>

    <h3>Something humanitarian</h3>

    <ul class="widget-links">
        <li><a href="http://www.gdcvault.com/play/1012346/Concrete-Practices-to-be-a">Concrete Practices to Be a Better Leader</a></li>
        <li><a href="http://www.gdcvault.com/play/1015694/Concrete-Practices-to-Be-a">Concrete Practices to Be a Better Leader:<br />Framing &amp; Intention</a></li>
        <li><a href="http://www.ted.com/index.php/talks/ken_robinson_says_schools_kill_creativity.html">Ken Robinson - Do schools kill creativity?</a></li>
        <li><a href="http://www.ted.com/talks/sir_ken_robinson_bring_on_the_revolution.html">Ken Robinson - Bring on the learning revolution!</a></li>
        <li><a href="http://www.ted.com/talks/jamie_oliver.html">Jamie Oliver's TED Prize wish:<br />Teach every child about food</a></li>
    </ul>

    </div>

</div>

<div class="widget">

    <div class="widget-wrapper">

	<h2>@John_Leidegren</h2>
	<ul id="twitter-feed"></ul>

    </div>

</div>

</div>
</div>
</div>

<script type="text/javascript">
getTwitterFeed("John_Leidegren", "#twitter-feed");
</script>

</body>
</html>